---
import TagPill from "../ui/TagPill.astro";
import SocialPill from "../ui/SocialPill.astro";
import BoxSeamIcon from "../icons/BoxSeamIcon.astro";
import CodeIcon from "../icons/CodeIcon.astro";
import Paragraph from "../ui/Paragraph.astro";
import { getI18N } from "@/i18n";
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  tags: Array<{ name: string; className: string; Icon: any }>;
  image: any;
  codeURL: string;
  webSiteURL?: string;
}
const { title, description, tags, image, codeURL, webSiteURL } = Astro.props;

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<article class="mb-6 md:mb-12">
  <header
    class="flex flex-col gap-2 items-start sm:flex-row sm:items-center sm:gap-4 mb-6"
  >
    <h3 class="text-lg md:text-xl font-semibold text-primary">
      {title}
    </h3>
    <nav class="flex gap-2 md:gap-4">
      <SocialPill href={codeURL} title="code">
        <CodeIcon class="size-4" />
        <span class="hidden md:inline text-xs">
          {i18n.projects.links.code}
        </span>
      </SocialPill>
      {
        webSiteURL && (
          <SocialPill href={webSiteURL} title="web">
            <BoxSeamIcon class="size-4" />
            <span class="hidden md:inline text-xs">
              {i18n.projects.links.web}
            </span>
          </SocialPill>
        )
      }
    </nav>
  </header>
  <Paragraph>{description}</Paragraph>
  <ul
    class="flex gap-2 md:gap-4 flex-row my-4 md:my-8 flex-wrap justify-center lg:justify-start"
  >
    {
      tags.map(({ name, Icon, className }) => (
        <TagPill className={className}>
          <Icon class="size-5" />
          <span class="hidden md:inline text-xs">{name}</span>
        </TagPill>
      ))
    }
  </ul>
  <div class="relative rounded overflow-hidden shadow-2xl shadow-foreground/20 aspect-video">
    <Image
      src={image}
      alt={`${i18n.projects.image_alt_prefix} ${title}`}
      widths={[480, 768, 1024, 1440]}
      sizes="(min-width: 1024px) 768px, 100vw"
      class="absolute inset-0 h-full w-full object-cover"
      loading="lazy"
      decoding="async"
    />
  </div>
</article>
