---
import Layout from "../../layouts/Layout.astro";
import Experience from "../../components/experiencies/Experience.astro";
import Projects from "../../components/projects/Projects.astro";
import SectionContainer from "../../components/SectionContainer.astro";
import LaptopIcon from "../../components/icons/LaptopIcon.astro";
import CodeIcon from "../../components/icons/CodeIcon.astro";
import Home from "../../components/home/Home.astro";
import AboutMe from "../../components/about/AboutMe.astro";
import UserSquareRoundedIcon from "../../components/icons/UserSquareRoundedIcon.astro";
import { getI18N } from "../../i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.seo.title} description={i18n.seo.description}>
  <main class="mt-28 md:mt-40 px-8 md:px-0">
    <SectionContainer id="home">
      <Home />
    </SectionContainer>
    <SectionContainer id="experience" title={i18n.experience.title}>
      <LaptopIcon class="size-8" slot="icon" />
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects" title={i18n.projects.title}>
      <CodeIcon class="size-8" slot="icon" />
      <Projects />
    </SectionContainer>
    <SectionContainer id="about-me" title={i18n.about.title}>
      <UserSquareRoundedIcon class="size-8" slot="icon" />
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
