---
import DownloadIcon from "../icons/DownloadIcon.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
import Badge from "../ui/Badge.astro";
import SocialPill from "../ui/SocialPill.astro";
import { getI18N } from "../../i18n/";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section class="flex flex-row gap-x-4 pb-4">
  <img
    class="rounded-full size-24 md:size-28 lg:size-32"
    src="https://avatars.githubusercontent.com/u/17658533?s=400&u=720a1f13ac78e3220db618daa33e15d11130747b&v=4"
    alt="portfolio photo"
  />
  <div class="flex flex-col gap-y-2">
    <h1 class="text-2xl md:text-4xl lg:text-5xl font-bold">
      {i18n.home.name}
    </h1>
    <h2 class="opacity-90 text-xl md:text-2xl lg:text-3xl text-wrap">
      {i18n.home.role}
    </h2>
    <a
      href="https://www.linkedin.com/in/davidcastrillongonzales/"
      target="_blank"
      rel="noopener"
    >
      <Badge color="green">{i18n.home.status.available}</Badge>
    </a>
  </div>
</section>
<p
  class="text-primary/80 text-sm md:text-base lg:text-lg text-pretty mb-4 lg:mb-6"
>
  <strong>{i18n.home.years_of_experience}</strong>
</p>
<p
  class="text-sm md:text-base lg:text-lg mb-4 lg:mb-6 text-wrap text-foreground"
>
  <Fragment set:html={i18n.home.main_paragraph} />
</p>
<p class="text-xs md:text-sm lg:text-base mb-4 lg:mb-6 text-wrap opacity-90">
  <Fragment set:html={i18n.home.second_paragraph} />
</p>

<nav class="flex gap-4 mt-4 lg:mt-8 justify-center md:justify-start">
  <SocialPill href="https://github.com/DavidCast27" title="GitHub">
    <GitHubIcon class="size-4 lg:size-6" />
    <span class="hidden md:inline text-xs">{i18n.home.social.github}</span>
  </SocialPill>
  <SocialPill
    href="https://www.linkedin.com/in/davidcastrillongonzales/"
    title="LinkedIn"
  >
    <LinkedInIcon class="size-4 lg:size-6" />
    <span class="hidden md:inline text-xs">{i18n.home.social.linkedin}</span>
  </SocialPill>
  <SocialPill href="mailto:david.cast27@gmail.com" title="email">
    <MailIcon class="size-4 lg:size-6" />
    <span class="hidden md:inline text-xs">{i18n.home.social.mail}</span>
  </SocialPill>
  <SocialPill href="/CV-ES-david-castrillon.pdf" title="DownLoadCV">
    <DownloadIcon class="size-4 lg:size-6" />
    <span class="hidden md:inline text-xs">{i18n.home.social.download_cv}</span>
  </SocialPill>
</nav>
