---
import Layout from "@/layouts/Layout.astro";
import Experience from "@/components/experiences/Experience.astro";
import Projects from "@/components/projects/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import LaptopIcon from "@/components/icons/LaptopIcon.astro";
import CodeIcon from "@/components/icons/CodeIcon.astro";
import Home from "@/components/home/Home.astro";
import AboutMe from "@/components/about/AboutMe.astro";
import UserSquareRoundedIcon from "@/components/icons/UserSquareRoundedIcon.astro";
import { getI18N } from "@/i18n";
import { staticPathsForLang, type Lang } from "@/lib/lang";

const { lang } = Astro.params as { lang: Lang };

const i18n = getI18N({ currentLocale: lang });

export function getStaticPaths() {
  return staticPathsForLang();
}
---

<Layout title={i18n.seo.title} description={i18n.seo.description}>
  <main class="mt-24 mx-auto max-w-4xl px-6 md:px-8 w-full">
    <Home />
    <SectionContainer id="experience" title={i18n.experience.title}>
      <LaptopIcon class="size-8" slot="icon" />
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects" title={i18n.projects.title}>
      <CodeIcon class="size-8" slot="icon" />
      <Projects />
    </SectionContainer>
    <SectionContainer id="about-me" title={i18n.about.title}>
      <UserSquareRoundedIcon class="size-8" slot="icon" />
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
